.list-component .am-list-item .am-list-line .am-list-content,
.list-component .am-swipe-btn{
    font-size: 20px;
    line-height: 1.75;
}

.list-component .am-swipe-btn-text {
    padding: 0 15px;
}

.list-component .am-checkbox-wrapper{
    padding-right:  7px;
}
