.css-checkbox{
    display: inline-block;
}
.css-checkbox input{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.css-checkbox input + label:before {
    background: url('/icon-checkbox.png') no-repeat 0 0;
}

.css-checkbox input:checked + label:before {
    background: url('/icon-checkbox-active.png') no-repeat 0 0;
}

.css-checkbox input:focus + label:before{
    outline: 1px dotted;
}

.css-checkbox label {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
}

.css-checkbox label:before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}