.category{
    position: relative;
}
.category .name{
    border: 1px solid #333;
    margin: 0 0 2px;
    padding-right: 50px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.category.active > .name{
    background-color: aquamarine;
}

.category .icons{
    position: absolute;
    top: 1px;
    right: 1px;
}
.category .sub{
    margin-left: 20px;
}