.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.icon.clear-left{
    background: url('img/icon-clear-left.png') no-repeat 0 0;;
}
.icon.edit{
    background: url('img/icon-edit.png') no-repeat 0 0;;
}
.icon.delete{
    background: url('img/icon-delete.png') no-repeat 0 0;;
}
.icon.add{
    background: url('img/icon-add.png') no-repeat 0 0;;
}