.input-holder{
    position: relative;
    display: inline-block;
}
.input-holder .icon{
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

.input-holder input{
    padding-right: 24px;
}