body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
